*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.header-container{
    max-width: 1440px;
 height: 850px;
 background: rgba(229, 84, 115, 0.1);
 margin: 0 auto;
 padding: 0 240px;
 display: flex;
}
.header-text{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 80px;
font-weight: 800;
text-align: left;
margin-top:197px ;
}
.header-description{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
text-align: left;
margin-top: 20px;
}
.header-btn{
    padding: 20px 43px 20px 43px;
    border-radius: 8px;

background: rgb(229, 84, 115);
border: none;
font-size: 20px;
margin-top: 20px;
cursor: pointer;
color: rgb(255, 255, 255);
font-family: Lato;
font-size: 20px;
font-weight: 700;
text-align: left;

}
.img-container img{

width: 635px;
height: 850px;
}
/* main flower container */
.flower-container{
    width: 80%;
    height: 650px;
    margin: 0 auto;
    margin-top:120px ;
}
.flower-text-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}
.flower-header{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 40px;
font-weight: 800;

}

.flower-description{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;

}
.flower-img-container{

    display:flex;
    margin: 0 auto;
    gap: 24px;
    
}
.flower-img-1{
  

width: 33%;
height: 538px;
border-radius: 300px 300px 0px 0px;

background: rgba(167, 33, 98, 0.15);
margin-top: 48px;
display: flex;
justify-content: center;
align-items: center;

}
.flower-img-2{
 

width: 33%;
height: 538px;
border-radius: 300px 300px 0px 0px;

background: rgba(5, 151, 160, 0.15);
margin-top: 48px;
display: flex;
justify-content: center;
align-items: center;

}
.flower-img-3{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
width: 33%;
height: 538px;
margin-top: 48px;
display: flex;
justify-content: center;
align-items: center;

}
/* support asection */
.support{


width: 80%;
height: 320px;
border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
margin: 0 auto;
margin-top: 120px;

}
.support-content{
    display: flex;
    text-align: center;
   padding: 86px 0;
}
.support-img{ 
    width: 33%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}